@import "../assets/vendor/nucleo/css/nucleo.css";
@import "../assets/vendor/font-awesome/css/font-awesome.min.css";
@import "../assets/scss/argon-design-system-react.scss";

.Toastify__toast {
  border-radius: 2px !important;
  font-size: 0.8rem;
  font-weight: 400;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.3) !important;
  font-family: inherit !important;
}

.Toastify__progress-bar {
  background: #fff !important;
}
